<div class="modal-header">
    <h3 class="modal-title">{{item.name}}</h3>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="title">Title</label>
            <input ng-model="item.name" ng-required="true" id="title" class="form-control" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <div text-angular ta-toolbar="app.editor.descriptionToolbar" ng-model="item.description" id="description" ng-required="true" placeholder="Description"></div>
        </div>
        <div class="form-group">
            <label>Album date</label>
            <input datepicker-popup is-open="datepickerOpen" ng-click="datepickerOpen = true" ng-model="item.album_time" local-date-to-string ng-required="true" class="form-control" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save(item)">Save</button>
    <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
</div>