<div class="modal-header">
    <h3 class="modal-title">Bulk upload</h3>
</div>
<div class="modal-body">
    
    <div>
        <div ng-show="uploader.isHTML5">
            <div class="well my-drop-zone" nv-file-drop nv-file-over="file-over" uploader="uploader" options="fileOptions">
                Drop a files here 
            </div>
        </div>
        <input nv-file-select uploader="uploader" options="fileOptions" type="file" multiple/>
    </div>

    <accordion close-others="true">
        <accordion-group ng-repeat="albumItem in albumItems">
            <accordion-heading>
                <div class="row">
                    <strong class="col-md-8">{{albumItem.name}}</strong>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success" ng-click="save(albumItem)" stop-event>
                            <span class="glyphicon glyphicon-upload"></span> Save
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="remove(albumItem)" stop-event>
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </div>
                    <div class="col-md-1 text-center">
                        <span ng-show="albumItem.id"><i class="glyphicon glyphicon-ok"></i></span>
                    </div>
                </div>
            </accordion-heading>

            <div album-item-form item="albumItem"></div>
            
        </accordion-group>
    </accordion>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="saveAll()">Save all</button>
    <button class="btn btn-warning" ng-click="close()">Close</button>
</div>
