<div class="row">
    <div class="col-md-12">
        <!--<ui-gmap-google-map center='map.center' zoom='map.zoom'>-->
            <!--<ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">-->
                <!--<ui-gmap-window options="windowOptions" show="true">-->
                    <!--<div>-->
                        <!--<b>Studio PINK ANT</b><br>-->
                        <!--Wikyland u Olympie (za Sconto nábytkem)<br>-->
                        <!--Svratecká 845, 664 42 Modřice-->
                    <!--</div>-->
                <!--</ui-gmap-window>-->
            <!--</ui-gmap-marker>-->
        <!--</ui-gmap-google-map>-->
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2610.5820701709263!2d16.635248!3d49.132571999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4712bff8f8e26875%3A0x790c114bf1d3cd1c!2sStudio+Ewelyn-+Eva+Vlachov%C3%A1!5e0!3m2!1sen!2s!4v1430835005575" width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</div>
<div class="row">
    <div ng-show="canShowForm()" class="col-md-12">
        <h2>Kontaktujte nás</h2>  
        <form ng-submit="submitForm(formData)" name="form" role="form" novalidate class="form-horizontal contact-form">
            <div class="form-group" ng-class="{'has-error': !form.name.$valid && form.name.$dirty}">
                <label class="col-sm-2 control-label">Jméno *</label>
                <div class="col-sm-10">
                    <input ng-model="formData.name" name="name" required class="form-control">
                    <div ng-messages="form.name.$error" ng-show="form.name.$dirty">
                        <div ng-message="required">Jaké je Vaše jméno?</div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': !form.email.$valid && form.email.$dirty}">
                <label class="col-sm-2 control-label">Email *</label>
                <div class="col-sm-10">
                    <input ng-model="formData.email" name="email" type="email" required class="form-control">
                    <div ng-messages="form.email.$error" ng-show="form.email.$dirty">
                        <div ng-message="email">Je toto správná e-mailová adresa?</div>
                        <div ng-message="required">Jaký je Váš e-mail?</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Datum</label>
                <div class="col-sm-10">
                    <input datepicker-popup is-open="datepickerOpen" ng-click="datepickerOpen = true" name="eventTime" ng-model="formData.when" local-date-to-string class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Typ služby</label>
                <div class="col-sm-10">
                    <input ng-model="formData.service" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Poznámka</label>
                <div class="col-sm-10">
                    <textarea ng-model="formData.note" class="form-control" rows="2"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="submitForm(form)" ng-disabled="!form.$valid || status" type="submit" class="btn btn-primary">
                        {{buttonLabel}}
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div ng-show="status === 'SENT'" class="col-md-12 text-center" style="margin: 50px; margin-top: 150px">
        <h2>Děkujeme, budeme Vás kontaktovat.</h2>
    </div>
    <div ng-show="status === 'ERROR'" class="col-md-12 text-center" style="margin: 50px; margin-top: 150px">
        <h3>{{error}}</h3>
    </div>
</div>