<form ng-submit="submitForm(formData)" name="form" role="form" class="form-horizontal" novalidate>
    <div class="form-group">
        <label>Tvoje meno</label>
        <input ng-model="formData.name" class="form-control" placeholder="Tvoje meno">
    </div>
    <div class="form-group">
        <label>Email address</label>
        <input ng-model="formData.email" type="email" class="form-control" placeholder="Tvoja email adresa">
    </div>
    <div class="form-group">
        <label>Kedy nas potrebujes?</label>
        <input datepicker-popup is-open="datepickerOpen" ng-click="datepickerOpen = true" name="eventTime" ng-model="formData.eventTime" local-date-to-string ng-required="true" class="form-control">
    </div>
    <div class="form-group">
        <label>Prides ku nam alebo potrebujes aby sme prisli za tebou?</label>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="formData.place" btn-radio="'studio'">Pridem do vasho studia</label>
            <label class="btn btn-primary" ng-model="formData.place" btn-radio="'client'">Potrebujem vas na adrese</label>
        </div>
    </div>

    <div ng-show="formData.place == 'client'" class="form-group">
        <label>Tvoja adresa</label>
        <input ng-model="formData.clientAddress" class="form-control">
    </div>

    <div class="form-group">
        <label>S cim ti treba pomoct?</label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Hairstyle
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> Make-up
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> Oblecenie
        </label>
    </div>

    <div class="form-group">
        <label>Na aky typ akcie nas potrebujes?</label>
        <input ng-model="formData.event" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-default">Poslat</button>
</form>