<div class="row">
    <div class="col-md-12">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">
                <ui-gmap-window options="windowOptions" show="true">
                    <div>
                        <b>Adresa</b><br>
                        43 Melville Road<br>
                        London<br>UK
                        <br>
                        <b>Telefon</b><br>
                        +420 (0) 933 333 555
                    </div>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>   
    </div>
</div>
<h2>Kontaktuj nas</h2>  
<div class="row">
    <div class="col-md-12">
        <form ng-submit="submitForm(formData)" name="form" role="form" novalidate>
            <div class="form-group">
                <label>Jmeno</label>
                <input ng-model="formData.name" name="name" required class="form-control">
                <div ng-messages="form.name.$error" ng-show="form.name.$dirty">
                    <div ng-message="required">Jako se jmenujes?</div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': !form.email.$valid}">
                <label>Emailova adresa</label>
                <input ng-model="formData.email" name="email" type="email" required class="form-control">
                <div ng-messages="form.email.$error" ng-show="form.email.$dirty">
                    <div ng-message="email">Je toto spravna email adresa?</div>
                    <div ng-message="required">Jaky mas email?</div>
                </div>
            </div>
            <div class="form-group">
                <label>Datum</label>
                <input datepicker-popup is-open="datepickerOpen" ng-click="datepickerOpen = true" name="eventTime" ng-model="formData.when" local-date-to-string class="form-control">
            </div>
            <div class="form-group">
                <label>Typ sluzby</label>
                <input ng-model="formData.service" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Poznamka</label>
                <textarea ng-model="formData.note" class="form-control" rows="2"></textarea>
            </div>

            <button ng-click="submitForm(form)" ng-disabled="!form.$valid" type="submit" class="btn btn-primary">Poslat</button>
        </form>
    </div>
</div>
