<div class="modal-header" ng-click="showControlPanel()" ng-mouseover="showControlPanel()">
    <h3 class="modal-title" >{{currentItem.name}}</h3>
    <p ng-bind-html="currentItem.description"></p>
    <button ng-click="$dismiss()" type="button" class="close"><span aria-hidden="true" class="close-icon"></span><span class="sr-only">Close</span></button>
</div>
<div class="modal-body" ng-mouseover="showControlPanel()">
    <div ng-show="renderControlPanel" class="control-panel container-fluid">
        <div class="row">
            <a href ng-click="previousItem()" class="previous"></a>
            <a href ng-click="nextItem()" class="next"></a>
        </div>
    </div>
    
    <div ng-if="currentItem.type === 'FILE'">
        <a href ng-click="nextItem()">
            <img ng-src="{{currentItem._embedded.thumbnail_file._links.access.href}}" preload-with-default-src class="img-responsive">
        </a>
    </div>
    <div ng-if="currentItem.type === 'YOUTUBE_VIDEO_ID'" class="embed-responsive embed-responsive-16by9">
        <iframe ng-src="{{getYoutubeVideoEmbedUrl(currentItem)}}"
                class="embed-responsive-item" type="text/html"
                allowfullscreen=></iframe>
    </div>
        
    </div>
</div>