<div class="modal-header">
    <h3 class="modal-title">Select an image</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div ng-repeat="item in imageCollection.items" class="col-md-3" ng-click="selectImage(item)">
            <img ng-src="{{item._links.thumbnail_image_browser.href}}">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="selectImage(image)">Select image</button>
    <button class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>