<div extend-controller="AdminPageController">

    <div ng-show="app.edit" class="row button-set">
        <div class="pull-right">
            <button ng-click="save(page)" class="btn btn-default">Save page</button>
        </div>
    </div>
    
    <h1 ng-model="page.title" medium-editor bind-options="mediumEditorOptions" options='{"placeholder": "Page title", "buttons": []}'>{{page.title}}</h1>
    <div ng-model="page.content" medium-editor bind-options="mediumEditorOptions" options='{"placeholder": "Here comes your page content", "buttons": ["bold", "italic", "underline", "anchor", "header1", "header2", "quote", "orderedlist", "unorderedlist"]}'></div>
</div>