<div extend-controller="AdminPageController">

    <div ng-show="app.edit" class="row button-set">
        <div class="pull-right">
            <button ng-click="save(page)" class="btn btn-default">Save page</button>
        </div>
    </div>
    
    <h1 ng-if="!app.edit" ng-bind-html="page.title"></h1>
    <div ng-if="app.edit">
        <div class="form-group">
            <label>Title</label>
            <input ng-model="page.title" placeholder="Page title" class="form-control">
        </div>
    </div>
    
    <div ng-if="!app.edit" ng-bind-html="page.content"></div>
    <div ng-if="app.edit" ng-model="page.content" text-angular ta-toolbar="editorToolbar" placeholder="Page main content"></div>
</div>